name: Deploy to IONOS

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Get latest code
      uses: actions/checkout@v3

    - name: SFTP Deploy
      uses: wlixcc/SFTP-Deploy-Action@v1.2.4
      with:
        username: ${{ secrets.SFTP_USERNAME }}
        server: ${{ secrets.SFTP_SERVER }}
        password: ${{ secrets.SFTP_PASSWORD }}
        port: 22 
        local_path: './'   # Take files from here
        remote_path: '/'   # Put them in the main folder on IONOS
        sftp_only: true