name: SRE Website Monitor

on:
  
  schedule:
  
    - cron: '*/15 * * * *'
  
  
  workflow_dispatch:

jobs:
  health-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: pip install requests

      - name: Run Watchdog Script
        run: python watchdog.py